.info-container {
    min-height: 600px;
}

.div-info {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 50px auto;
}

.logo-info {
    width: 400px;
    display: flex;
}

.div-info .logo-info img{
    display: block;
    width: 400px;
    align-self: center;
}

.info-text {
    max-width: 800px;
    align-self: center;
}

@media (max-width: 999px) {
    .div-info {
        max-width: 90%;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 405px) {
    .div-info {
        max-width: 95%;
    }

    .logo-info {
        width: 200px;
    }
    
    .div-info .logo-info img{
        width: 200px;
    }
}