.div-menu {
    width: 100%;
    background-color: #000;
}

.list-menu {
    list-style: none;
    color: white;
    width: 80%;
    margin: auto;
    padding: 0;
}

.list-menu li {
    width: 122px;
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
    text-align: center;
    font: normal normal normal 17px/1.4em dinneuzeitgroteskltw01-_812426,sans-serif;
    cursor: pointer;
    font-weight: 300;
}

.list-menu li:hover {
    color: #000;
    background-color: #fefefe;
    animation-duration: 0.5;
}

.div-logo {
    background-color: #000;
    max-height: 135px;
}

.logo {
    color: #fff;
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.slogan-container {
    display: flex;
    justify-content: space-between;
}

.slogan-container .div-img {
    width: 135px;
    cursor: pointer;
}

.slogan-container .div-img img {
    width: 100%;
}

.logo .div-title {
    margin-left: 20px;
    font-size: 28px;
    font-weight: 500;
    align-self: center;
}

/* ----- redes sociales ----- */

.logo .social-buttons {
    display: flex;
    gap: var(--sharing-gap, 0.5rem);
    align-self: center;
    justify-self: end;
}

.sharing-item {
    transition: background 0.3s, color 0.3s;
    color: var(--sharing-color, #fff);
    background-color: var(--sharing-bg, #000);
    padding: var(--sharing-padding, 0.6rem);
    border-radius: var(--sharing-radius, 0.5rem);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1), 0 2px 5px -1px rgba(0, 0, 0, 0.05);
}
.sharing-item .i {
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    transition: transform 0.3s;
    stroke-width: 2;
    width: var(--sharing-size, 22px);
    height: var(--sharing-size, 22px);
    display: block;
}
.sharing-item:hover {
    background-color: #fff;
    --sharing-color: var(--sharing-bg, #000);
}
.sharing-item:hover .i {
    transform: rotate(360deg);
}
.sharing-facebook {
    --sharing-bg: #1778F2 ;
}
.sharing-instagram{
    --sharing-bg: #3f729b;
}
.sharing-twitter {
    --sharing-bg: #55ACEE ;
}
.sharing-pinterest {
    --sharing-bg: #F0002A ;
}
.sharing-tumblr {
    --sharing-bg: #35465C ;
}
.sharing-reddit {
    --sharing-bg: #FF4500 ;
}
.sharing-vk {
    --sharing-bg: #4376A6 ;
}
.sharing-whatsapp {
    --sharing-bg: #4FCE5D ;
}
.sharing-telegram {
    --sharing-bg: #0088CC ;
}
.sharing-envelope {
    --sharing-bg: #464EB8 ;
}

.navbar-brand {
    color: #fff;
}